/* Custom Fonts Start*/
      /*  CSS rules to specify families:
      font-family: 'Josefin Sans', sans-serif;
      font-family: 'Playfair Display', serif;
      */
      @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Playfair+Display&display=swap');
      .text-play {
        font-family: 'Playfair Display', serif !important;
      }
      .text-jsan {
        font-family: 'Josefin Sans', sans-serif !important;
      }
/* Custom Fonts End*/
/* 
  Below code makes it so that an element gets larger on hover.
  */
  .hover-big {
    transition: .29s;
  }
  
  .hover-big:hover {
    transform: scale(1.05) !important; 
  }
  /* 
  Above code makes it so that an element gets larger on hover.
  */
  /* 
Below code makes it so that an element changes bg color on hover.
*/
.hover-gradient {
    transition: .34s;
  }
  
.hover-gradient:hover {
    background: linear-gradient(
      45deg,
      rgba(255, 130, 58, 0.75),
      rgba(79, 229, 255, 0.7) 100%
      ) !important;
  }
/* 
Above code makes it so that an element changes bg color on hover.
*/