/* Custom Fonts Start*/
      /*  CSS rules to specify families:
      font-family: 'Josefin Sans', sans-serif;
      font-family: 'Playfair Display', serif;
      */
      @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Playfair+Display&display=swap');
      .text-play {
        font-family: 'Playfair Display', serif !important;
      }
      .text-jsan {
        font-family: 'Josefin Sans', sans-serif !important;
      }
/* Custom Fonts End*/
/* 
  Below code makes it so that an element gets larger on hover.
  */
  .hover-big {
    transition: .27s;
  }
  
  .hover-big:hover {
    transform: scale(1.07) !important; 
  }
  /* 
  Above code makes it so that an element gets larger on hover.
  */
/* Below code makes adds colored text hover  */
.hover-gradient-carmine {
    transition: .27s;
  }
  
.hover-gradient-carmine:hover {
    color: #F14444 !important;
  }

  .hover-gradient-jindigo {
    transition: .27s;
  }
  
.hover-gradient-jindigo:hover {
    color: #2D3E4B !important;
  }

  .hover-gradient-bubbles {
    transition: .27s;
  }
  
.hover-gradient-bubbles:hover {
    color: #E8F6FF !important;
  }

  .hover-gradient-maxy {
    transition: .27s;
  }
  
.hover-gradient-maxy:hover {
    color: #F4F83B !important;
  }
/* Above code makes adds colored text hover  */
  /* 
Below code makes it so that an element changes bg color on hover.
*/
.hover-gradient {
    transition: .34s;
  }
  
.hover-gradient:hover {
    background: linear-gradient(
      45deg,
      rgba(241, 68, 68, 0.7),
      rgba(244, 248, 59, 0.7) 100%
      ) !important;
  }
/* 
Above code makes it so that an element changes bg color on hover.
*/